@import "_frontend.css";

.fastfilter-post-item-styling {
    width: 31%;
    margin-right: 2%;
    float: left;
}

.fastfilter-clearfix {
    clear: none;
}

.fastfilter-content {
    height: 75px;
}